*.json
*.pyc
*.cf
*.tcl
*.wdb
*.xmsgs
*.cmd
*.xpi
*.twr
*.twx
*.unroutes
*.ut
*.csv
*.bgn
*.drc
*.ptwx
*.pad
*.txt
*.log
*.debug
*.ngr
*.ngd
*.ngc
*.ngm
*.map
*/isim*
*.xst
*.exe
*.ini
*.sim
*.par
*.jou
*.vdb
*.dbg
*.dll
*.dat
*.didat
*.obj
*.wdf
*.wpc
*.ppr
*.pcf
*.vdbl
*.vdbx
*/_ngo*
*.xrpt
*.bld
*.cmd_log
*.mrp
*.lso
*/xlnx_*
*.xml
*.stx
*.xreport
*.prj
*.projectmgr
*.syr
*.bak
*.make
*.opt
*.bit
*.elf
*.ncd
*.xwbt
