[submodule "tools/cocotb"]
	path = tools/cocotb
	url = https://github.com/potentialventures/cocotb
[submodule "tools/ghdl"]
	path = tools/ghdl
	url = https://github.com/tgingold/ghdl
[submodule "tools/gprof2dot"]
	path = tools/gprof2dot
	url = https://github.com/jrfonseca/gprof2dot
[submodule "tools/wavedrom"]
	path = tools/wavedrom
	url = git@github.com:drom/wavedrom.git
