NET "IFCLK"  LOC = "K20" |IOSTANDARD = LVCMOS33 ;
NET "FXCLK"  LOC = "L22" | IOSTANDARD = LVCMOS33 ;

NET "IFCLK" TNM_NET = "IFCLK";
TIMESPEC "TS_IFCLK" = PERIOD "IFCLK" 20 ns HIGH 50 %;

NET "FXCLK" TNM_NET = "FXCLK";
TIMESPEC "TS_FXCLK" = PERIOD "FXCLK" 20 ns HIGH 50 %;

NET "CS"  LOC = "AB11" | IOSTANDARD = LVCMOS33 ;

NET "sck_i" LOC = "AA22" | IOSTANDARD = LVCMOS33 ;			# PA0
NET "rst_i" LOC = "AB17" | IOSTANDARD = LVCMOS33 ;			# PA7
NET "SLOE" LOC = "U15" | IOSTANDARD = LVCMOS33 ;			# PA2
NET "SLRD"  LOC = "N22" |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = FAST ;
NET "SLWR"  LOC = "M22" |IOSTANDARD = LVCMOS33 |DRIVE = 12 |SLEW = FAST ;
NET "FIFOADR<0>"  LOC = "AB21" |IOSTANDARD = LVCMOS33 |DRIVE = 12 ;	# PA4
NET "FIFOADR<1>"  LOC = "Y18" |IOSTANDARD = LVCMOS33 |DRIVE = 12 ;	# PA5
NET "FLAGA"  LOC = "F20" |IOSTANDARD = LVCMOS33 ;           # 
NET "FLAGB"  LOC = "F19" |IOSTANDARD = LVCMOS33 ;           # Full
NET "FLAGC"  LOC = "F18" |IOSTANDARD = LVCMOS33 ;           # Empty

NET "pb_o<0>"  LOC = "Y17" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<1>"  LOC = "V13" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<2>"  LOC = "W13" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<3>"  LOC = "AA8" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<4>"  LOC = "AB8" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<5>"  LOC = "W6" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<6>"  LOC = "Y6" | IOSTANDARD = LVCMOS33 ;
NET "pb_o<7>"  LOC = "Y9" | IOSTANDARD = LVCMOS33 ;

NET "pc_i<0>"  LOC = "G20" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<1>"  LOC = "T20" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<2>"  LOC = "Y5" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<3>"  LOC = "AB9" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<4>"  LOC = "G19" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<5>"  LOC = "H20" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<6>"  LOC = "H19" | IOSTANDARD = LVCMOS33 ;
NET "pc_i<7>"  LOC = "H18" | IOSTANDARD = LVCMOS33 ;

# NET "SCL" LOC = "F22" | IOSTANDARD = LVCMOS33 ;
# NET "SDA" LOC = "E22" | IOSTANDARD = LVCMOS33 ;

