
# PlanAhead Generated physical constraints 

NET "Di[31]" LOC = B1;
NET "Di[28]" LOC = C3;
NET "Di[29]" LOC = C1;
NET "Di[30]" LOC = J4;
NET "Di[1]" LOC = D1;
NET "Di[17]" LOC = K6;
NET "Di[19]" LOC = K5;
NET "Di[21]" LOC = J6;
NET "Di[23]" LOC = J7;
NET "Di[25]" LOC = K4;
NET "Di[27]" LOC = M3;
NET "Di[8]" LOC = H6;
NET "Di[10]" LOC = B2;
NET "Di[12]" LOC = G3;
NET "Di[6]" LOC = E4;
NET "Di[4]" LOC = G1;
NET "Di[14]" LOC = H3;
NET "Di[2]" LOC = M4;
NET "Di[16]" LOC = D2;
NET "Di[18]" LOC = E1;
NET "Di[0]" LOC = L4;
NET "Di[20]" LOC = H4;
NET "Di[22]" LOC = H5;
NET "Di[24]" LOC = F3;
NET "Di[26]" LOC = K3;
NET "Di[9]" LOC = E3;
NET "Di[11]" LOC = K7;
NET "Di[7]" LOC = K8;
NET "Di[5]" LOC = F1;
NET "Di[13]" LOC = H8;
NET "Di[15]" LOC = M5;
NET "Di[3]" LOC = F2;
NET "Do[12]" LOC = E6;
NET "Do[16]" LOC = J3;
NET "Do[1]" LOC = F5;
NET "Do[20]" LOC = P3;
NET "Do[5]" LOC = E5;
NET "Do[24]" LOC = G6;
NET "Do[9]" LOC = F8;
NET "Do[28]" LOC = A3;
NET "Do[13]" LOC = G4;
NET "Do[31]" LOC = L3;
NET "Do[17]" LOC = L1;
NET "Do[2]" LOC = G7;
NET "Do[21]" LOC = D3;
NET "Do[6]" LOC = R3;
NET "Do[25]" LOC = K1;
NET "Do[10]" LOC = M2;
NET "Do[29]" LOC = C4;
NET "Do[14]" LOC = N1;
NET "Do[18]" LOC = R1;
NET "Do[3]" LOC = A2;
NET "Do[22]" LOC = K2;
NET "Do[7]" LOC = D5;
NET "Do[26]" LOC = N3;
NET "Do[11]" LOC = P1;
NET "Do[30]" LOC = F7;
NET "Do[15]" LOC = P2;
NET "Do[0]" LOC = G8;
NET "Do[19]" LOC = M1;
NET "Do[4]" LOC = N4;
NET "Do[23]" LOC = J1;
NET "Do[8]" LOC = H1;
NET "Do[27]" LOC = H2;
NET "CLK" LOC = T1;

# PlanAhead Generated IO constraints 

NET "Do[6]" IOSTANDARD = LVCMOS25;
NET "Do[5]" IOSTANDARD = LVCMOS25;
NET "Do[4]" IOSTANDARD = LVCMOS25;
NET "Do[3]" IOSTANDARD = LVCMOS25;
NET "Do[2]" IOSTANDARD = LVCMOS25;
NET "Do[1]" IOSTANDARD = LVCMOS25;
NET "Do[0]" IOSTANDARD = LVCMOS25;
NET "Do[31]" SLEW = FAST;
NET "Do[30]" SLEW = FAST;
NET "Do[29]" SLEW = FAST;
NET "Do[28]" SLEW = FAST;
NET "Do[27]" SLEW = FAST;
NET "Do[26]" SLEW = FAST;
NET "Do[25]" SLEW = FAST;
NET "Do[24]" SLEW = FAST;
NET "Do[23]" SLEW = FAST;
NET "Do[22]" SLEW = FAST;
NET "Do[21]" SLEW = FAST;
NET "Do[20]" SLEW = FAST;
NET "Do[19]" SLEW = FAST;
NET "Do[18]" SLEW = FAST;
NET "Do[17]" SLEW = FAST;
NET "Do[16]" SLEW = FAST;
NET "Do[15]" SLEW = FAST;
NET "Do[14]" SLEW = FAST;
NET "Do[13]" SLEW = FAST;
NET "Do[12]" SLEW = FAST;
NET "Do[11]" SLEW = FAST;
NET "Do[10]" SLEW = FAST;
NET "Do[9]" SLEW = FAST;
NET "Do[8]" SLEW = FAST;
NET "Do[7]" SLEW = FAST;
NET "Do[6]" SLEW = FAST;
NET "Do[5]" SLEW = FAST;
NET "Do[4]" SLEW = FAST;
NET "Do[3]" SLEW = FAST;
NET "Do[2]" SLEW = FAST;
NET "Do[1]" SLEW = FAST;
NET "Do[0]" SLEW = FAST;
